:root {
  --main-font: 'Arial';
  --main-light-color: #e9ecef;
  --main-dark-color: #11151c;
}

.Light-Mode {
  background: var(--main-light-color);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Dark-Mode {
  background: var(--main-dark-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  color: var(--main-light-color);
}

.Dark-Mode .author,
.Dark-Mode .genre,
.Dark-Mode .touch-icon,
.Dark-Mode .next {
  color: var(--main-light-color);
}

.Dark-Mode .next-quote:hover {
  background: var(--main-light-color);
  transition: 100ms;
  color: var(--main-dark-color);
}

.Dark-Mode .next-quote:hover .next {
  color: var(--main-dark-color);
}

.Dark-Mode .author-info:hover {
  background: var(--main-light-color);
  transition: 500ms;
}

.Dark-Mode .author-info:hover .right-arrow {
  visibility: visible;
  transition: 500ms;
  color: var(--main-dark-color);
}

.Dark-Mode .author-info:hover .author,
.Dark-Mode .author-info:hover .genre {
  color: var(--main-dark-color);
}

.quote-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  height: 45vh;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-bar {
  width: 8px;
  margin: 10px;
  height: 80%;
  background: orange;
  border-radius: 10px;
}

.text {
  width: 40vw;
  padding: 20px;
  font-family: var(--main-font);
  font-size: 1.7rem;
  font-weight: 500;
}

.author {
  outline: none;
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 400;
}

.genre {
  outline: none;
  font-family: var(--main-font);
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 10px;
}

.author-info {
  width: 50%;
  padding: 20px;
  cursor: pointer;
}

.author-link {
  outline: none;
  text-decoration: none;
  list-style: none;
  color: var(--main-dark-color);
}
.touch-icon {
  display: flex;
  flex-direction: row-reverse;
}

.right-arrow {
  visibility: hidden;
}

.author-info:hover .touch-icon {
  visibility: hidden;
}

.author-info:hover .right-arrow {
  visibility: visible;
  transition: 500ms;
  color: var(--main-light-color);
}

.author-info:hover .author,
.author-info:hover .genre {
  color: var(--main-light-color);
}

.author-info:hover {
  background: var(--main-dark-color);
  transition: 500ms;
}

.feature-container {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modes {
  display: absolute;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.share-twitter {
  width: 50%;
  display: flex;
  cursor: pointer;
}

.next-quote {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  padding: 10px;
  margin-bottom: 200px;
  border: 1px solid var(--main-dark-color);
  cursor: pointer;
}
.next {
  font-family: var(--main-font);
  font-size: 16px;
  margin: 10px;
  background: none;
  border: none;
  outline: none;
}

.next-quote:hover {
  background: var(--main-dark-color);
  transition: 100ms;
  color: var(--main-light-color);
}

.next-quote:hover .next {
  color: var(--main-light-color);
}

.darkmode {
  margin: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Light-Mode,
  .Dark-Mode {
    flex-direction: column;
  }
  .quote-container {
    height: 90vh;
    width: 100vw;
  }

  .quote {
    height: 50vh;
  }

  .quote-bar {
    width: 5px;
    margin-left: 10px;
    height: 60%;
  }

  .text {
    width: 85vw;
    padding: 15px;
    font-family: var(--main-font);
    font-size: 3.6vw;
    font-weight: 500;
  }

  .author-info:hover {
    background: var(--main-dark-color);
    transition: 0ms;
  }

  .author-info:hover .right-arrow {
    transition: 0ms;
  }

  .author {
    font-family: var(--main-font);
    font-size: 4vw;
    font-weight: 400;
  }

  .genre {
    font-family: var(--main-font);
    font-size: 3.4vw;
    font-weight: 200;
    margin-top: 10px;
  }

  .author-info {
    width: 70%;
    padding: 15px;
  }

  .feature-container {
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .modes {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .share-twitter {
    height: 100%;
    margin: 0;
    width: 30vw;
    align-items: center;
    justify-content: center;
  }

  .next-quote {
    height: 100%;
    width: 40vw;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin-bottom: 0px;
    border: none;
    cursor: pointer;
  }

  .next {
    margin: 10px;
    font-size: 2.6vw;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 4.8vw;
  }
  .author {
    font-size: 5.5vw;
  }

  .genre {
    font-size: 4.8vw;
  }

  .next {
    font-size: 3.5vw;
  }
}
