:root {
  --main-font: 'Arial';
}

.container {
  background: rgb(236, 236, 236);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.quote-container {
  /* background: navy; */
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  /* background: white; */
  height: 45vh;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-bar {
  width: 8px;
  margin: 10px;
  height: 80%;
  background: orange;
  border-radius: 10px;
}

.text {
  /* background: orange; */
  width: 40vw;
  padding: 20px;
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 500;
}

.author {
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 400;
}

.genre {
  font-family: var(--main-font);
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 10px;
}

.author-info {
  /* background: purple; */
  width: 50%;
  padding: 20px;
  cursor: pointer;
}

.author-link {
  text-decoration: none;
  list-style: none;
  color: #000;
}
.touch-icon {
  display: flex;
  flex-direction: row-reverse;
}

.right-arrow {
  visibility: hidden;
}

.author-info:hover .touch-icon {
  visibility: hidden;
}

.author-info:hover .right-arrow {
  visibility: visible;
  transition: 500ms;
  color: white;
}

.author-info:hover .author,
.author-info:hover .genre {
  color: white;
}

.author-info:hover {
  background: rgb(20, 20, 20);
  transition: 500ms;
}

.feature-container {
  /* background: firebrick; */
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modes {
  /* background: yellow; */
  display: absolute;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.darkmode {
  cursor: pointer;
}

.favorites {
  /* background: firebrick; */
  width: 40%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.favorite {
  cursor: pointer;
}

.share-twitter {
  width: 50%;
  display: flex;
  cursor: pointer;
}

.next-quote {
  /* background: rgb(0, 132, 255); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  padding: 10px;
  margin-bottom: 200px;
  border: 1px solid black;
  cursor: pointer;
}
.next,
.favorite {
  font-family: var(--main-font);
  font-size: 16px;
  margin: 10px;
  background: none;
  border: none;
  outline: none;
}

.favorites:hover,
.next-quote:hover {
  background: rgb(20, 20, 20);
  transition: 100ms;
  color: white;
}

.favorites:hover .favorite,
.next-quote:hover .next {
  color: white;
}

.darkmode {
  margin: 30px;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .quote-container {
    height: 90vh;
    width: 100vw;
  }

  .quote {
    height: 50vh;
  }

  .quote-bar {
    width: 5px;
    height: 70%;
  }

  .text {
    width: 85vw;
    padding: 15px;
    font-family: var(--main-font);
    font-size: 1.75rem;
    font-weight: 500;
  }
  .author {
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 400;
  }

  .genre {
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 10px;
  }

  .author-info {
    width: 70%;
    padding: 15px;
  }

  .feature-container {
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .modes {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .favorites {
    width: 55%;
  }
  .share-twitter {
    height: 100%;
    margin: 0;
    width: 30vw;
    align-items: center;
    justify-content: center;
  }

  .next-quote {
    height: 100%;
    width: 40vw;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin-bottom: 0px;
    border: none;
    cursor: pointer;
  }

  .next {
    margin: 10px;
  }
}
