* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.author-catalogue {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-home {
  width: 100px;
  margin: 50px;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.back-to-home .back {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.back-to-home:hover {
  background: #11151c;
  transition: 100ms;
  color: #e9ecef;
}

.back-to-home:hover .back {
  color: #e9ecef;
}

.author-quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-name {
  align-self: center;
  margin: 50px 500px 10px 0px;
  font-family: 'Arial';
  font-size: 2rem;
  font-weight: 500;
}

.ind-author-quote {
  margin: 3px;
  display: flex;
  align-items: center;
  width: 40%;
  min-height: 250px;
  padding: 20px;
}

.ind-quote-bar {
  background: orange;
  margin: 20px;
  width: 7px;
  height: 150px;
  border-radius: 10px;
}

.quote-text {
  font-family: 'Arial';
  font-weight: 300;
  font-size: 1.3rem;
  text-align: left;
}

@media (max-width: 768px) {
  .author-catalogue {
    width: 100vw;
  }

  .author-quotes {
    width: 100vw;
    align-items: flex-start;
  }

  .author-name {
    margin: 50px 0px 10px 0px;
  }

  .ind-author-quote {
    width: 98%;
    min-height: 200px;
  }

  .ind-quote-bar {
    width: 6px;
  }

  .quote-text {
    font-size: 1.2rem;
  }
}
